langchain
langchain-core
langchain_ollama
langchain-text-splitters
langchain-community
langchain_mongodb
pymongo
beautifulsoup4

# transformers
# torch

# streamlit
# selenium
# lxml
# html5lib
# python-dotenv